/* Structure générale */

@font-face {
    font-family: 'advent_proregular';
    src: url('./fonts/adventpro-regular-webfont.eot');
    src: url('./fonts/adventpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/adventpro-regular-webfont.woff2') format('woff2'),
    url('./fonts/adventpro-regular-webfont.woff') format('woff'),
    url('./fonts/adventpro-regular-webfont.ttf') format('truetype'),
    url('./fonts/adventpro-regular-webfont.svg#advent_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
    
}

body
{
    display: flex;
    font-family: 'advent-proregular', sans-serif;
    font-size: 17px;
    max-width: 1000px;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

html
{   
    display: flex;
    justify-content: center;
    width: 100%;
    
    margin: auto;
}






/* Header */

header
{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
    
}

h1
{
    margin-top: 40px;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    
}

h2
{
    margin-bottom: 10px;
}

#image
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    margin-top: 15px;
}


img
{
    border-radius: 50%;
    display: block;
    margin: auto;
    border: solid 3px #a0a001;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

#Prenom
{
    color: 	#ad2243;
    margin-right: 5px;
}

h2 span
{
    border-bottom: solid ;
    border-color: #ad2243 ;
}




/* Main */


.Titre_article
{
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    border-bottom: 3px solid #eded5a;
    padding-bottom: 1em;
    margin: 15px 15px 15px 15px;
}


main section h3
{
    font-weight: bolder;
    font-size: 1.3em;
}

main section i
{
    margin-right: 5px;
}

.Info_Recommandations
{
    margin-bottom: 7px;
}
.annee
{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 60px;
}

.annee span
{
    width: 85px;
}

main section article
{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px ;
}

main section article h4
{
    display: flex;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    margin-left: 50px;
}

main section article h5
{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 50px;
}

main section article p
{
    
    padding: 0px 20px 0px 0px;
}





/* Aside */
aside
{
    
    background-color: #eded5a;
    
    
}



#Contact
{
    display: flex;
    justify-content: space-around;
    
}

.h3_aside
{
    display: flex;
    justify-content: center;
    background: center;
    background-color: #302e2e;
    color: #eded5a ;
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 1em;
    padding: 10px 0px 10px 0px;
    
}

.annee
{
    font-weight: bold;
}


.element_list_aside

{
    display: flex;
    margin: 5px 0px 5px 0px;
    
    
}

.lien_aside
{
    margin: 1em auto;
    display: flex;
    
}

aside section ul
{
    font-weight: bold;
}

a
{
    color: black;
}

aside section div
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

aside section p
{
    text-align: justify;
    margin: 0px 20px 0px 20px;
}


/*Media queries */

/*Tablettes */
@media all and (max-width: 900px)

{
    body{
        display: flex;
        width: fit-content;
    }
    
    .Order_flex{
        display: flex;
        flex-direction: column;
    }
    
    body .Order_flex aside {
        order: 2;
    }
    
    body .Order_flex main 
    {
        order: 3;
    }
    
    #Contact
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    #Contact
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    #Contact h3
    {
        width: 100%;
    }
    body main
    {   
        display: flex;
        flex-direction: column;
        order: 3;
    } 
    
    body header
    {   
        display: flex;
        flex-direction: column;
        
    }
    
    
    h1
    {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        order: 1;
    }
    
    #image
    {
        display: flex;
        order: 2;
        
    }
    
    img 
    {
        margin-top: 15px;
    }
    h2
    
    {
        display: flex;
        justify-content: center;
        order: 3;
        
        
        
    }
    
    #Formation
    {
        display: flex;
        flex-direction: column;
    }
    
    main h3
    {
        display: flex;
        justify-content: flex-start;
    }
    main section article p
    {
        margin-left: 50px;
    }
    
    aside p 
    {
        padding-bottom: 20px;
    }
    
    ul
    {
        display: flex;
        flex-direction: column;
        
        justify-content: space-evenly;
    }
    
    li
    {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        padding-left: 8px;
        padding-right: 8px;
        
    }
    
    
}


@media all and (min-width: 760px) and (max-width: 900px)

{
    ul
    {
        display: flex ;
        align-items: flex-start;
    }
}



/* Changement en colonne de la liste de contact pour s'adapter à des écrans de tablette trop petit */

@media all and (max-width: 759px)
{
    #Contact
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    #Contact
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-self: center;
        width: 100%;
        
        
    }
    
    
    
    aside section ul
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    aside section ul li
    {
        display: flex;
        justify-self: center;
    }
    
    .element_list_aside
    {
        display: flex;
        justify-content: center;
        justify-self: center;
        
    }
    
    li
    {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
}


/* Téléphone */
@media all and (max-width: 576px)
{
    body
    {
        font-size: 18px;
        display: flex;
        flex-wrap: wrap;
    }
    
    main section article
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    h3
    {
        display: flex;
        flex-wrap: wrap;
    }
    
    h4
    {
        display: flex;
        justify-content: space-around;
        margin-right: 30px;
    }
    h5
    
    {
        display: flex;
        justify-content: space-around;
        margin-right: 30px;
    }
    
    .annee
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    
    .annee span
    {
        width: 100px;
        display: flex;
    }
    
    
    .Titre_article
    {
        display: flex;
        justify-content: center;
    }
    
    .element_list_aside
    {
        display: flex;
        justify-content: center;
    }
    
    p
    {
        display: flex;
        justify-content: center;
        margin-right: 30px ;
    }
    
    #text_aside
    {
        display: flex;
        margin-left: 35px ;
        margin-bottom: 20px;
        
        
    }
    
    aside section div
    {
        display: flex;
        justify-content: center;
    }
    
}

/* Desktop */
@media all and (min-width: 901px) {
    
    body{
        display: flex;
        flex-direction: column;
        
    }
    
    
    
    header
    {
        order: 2;
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
        align-self: center;
        
        
    }
    
    h1
    {
        margin-top: 0px;
        display: flex;
        justify-content: flex-start;
        margin-left: 45px;
        justify-self: left;
    }
    
    h2
    {
        display: flex;
        justify-content: flex-start;
        justify-self: left;
        margin-left: 50px;
    }
    
    .Order_flex
    {
        display: flex;
        order: 2;
    }
    
    body main
    {
        order: 3;
    }
    
    body aside
    {
        display: flex;
        order: 1;
        transform: translateY(-125px);
    }
    
    header
    {   
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin-left: 0px;
        margin-right: 0px;
        max-width: 600px;
        padding-bottom: 75px;
        
    }
    
    .Flex_Title
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-grow: 1;
        transform: translateX(50px)  translateY(50px);
        
        
    }
    
    
    
    #image
    {
        display: flex;
        justify-content: center;
        align-items: center;
        order: 1;
        width: 270px;
    }
    
    
    main section
    {
        display: flex;
        justify-content: right;
        flex-direction: column;
    }
    
    main section article p
    {
        margin-left: 50px;
    }
    aside {
        display: flex;
        width: 270px;
        flex-direction: column;
    }
    
    aside p 
    {
        padding-bottom: 20px;
    }
    
    #Contact {
        display: flex;
        flex-direction: column;
        order: 2;
        
    }
    
    #a_propos
    {
        order: 3;
    }
    
    #Loisirs
    {
        order: 4;
    }
    
    .h3_aside {
        display: flex;
        justify-content: space-around;
        
    }
    
    ul
    {
        margin-left: 10px;
    }
}